{
    "presets": [
      "stage-2"
    ],
    "comments": false,
    "plugins": [
      "transform-object-rest-spread"
    ],
    "env": {
      "development": {
        "presets": ["stage-2"]
      }
    }
  }